# Audiobook Dependencies
#github "NYPL-Simplified/NYPLAudiobookToolkit" ~> 1.0.5
# github "NYPL-Simplified/NYPLAEToolkit" ~> 0.0.7
# github "PureLayout/PureLayout" "v3.0.2"
# binary "AudioEngine.json" ~> 6.1.13

# PDF
github "Minitex/MinitexPDFProtocols" ~> 0.0.4
# github "Minitex/PDF-iOS" ~> some tag
# we actually do NOT need to pull in PSPDFKit.json here
# binary "PSPDFKit.json" >= 6.4

